<div class="banner-text">
    <p class="banner-text__title">ACERCA DE</p>
</div>

<nav class="subnavbar-container">
    <div class="subnavbar-menu">
        <a href="#QuienSoy" class="subnavbar-menu__link subnavbar-menu__link--who active-sub">¿QUÍEN SOY?</a>
        <a href="#Preparacion" class="subnavbar-menu__link subnavbar-menu__link--preparation">PREPARACIÓN</a>
        <a href="#Contacto" class="subnavbar-menu__link subnavbar-menu__link--contact">CONTACTO</a>
    </div>
</nav>

<div class="render-content"></div>