<div class="social-wrapper">
    <div class="social-image">
        <figure class="social-image__picture">
            <img src="https://res.cloudinary.com/daniel-dev23/image/upload/v1663171647/Portfolio%20Web/developer_ya4ts2.svg" alt="Daniel Gonzalez" class="social-image__img">
        </figure>
    </div>
    <div class="social-network">
        <div class="item-wrapper">
            <a href="#" class="item-wrapper__link" rel="noopener">
                <i class="fa-brands fa-square-github item-wrapper__icon"></i>
            </a>
            <p class="item-wrapper__title">Github</p>
        </div>
        <div class="item-wrapper">
            <a href="#" class="item-wrapper__link" rel="noopener">
                <i class="fa-brands fa-linkedin item-wrapper__icon"></i>
            </a>
            <p class="item-wrapper__title">LinkedIn</p>
        </div>
        <div class="item-wrapper">
            <a href="#" class="item-wrapper__link" rel="noopener">
                <i class="fa-solid fa-square-envelope item-wrapper__icon"></i>
            </a>
            <p class="item-wrapper__title">Email</p>
        </div>
    </div>
</div>

<div class="welcome-wrapper">
    <h3 class="welcome-title">¡Bienvenido!</h3>
    <p class="welcome-description">
        Aquí es donde comparto un poco de mi experiencia a lo largo
        de mis 2 años como desarrollador web.
        <br><br>
        Si algo te llama la atención y quieres charlar conmigo,
        contáctame por los medios establecidos.
        <br><br>
        ¡Será un gusto para mi conocerte!
    </p>
    <div class="controls">
        <a href="#" class="controls__button controls__button--white" rel="noopener">ACERCA DE</a>
        <a href="#" class="controls__button controls__button--green" rel="noopener">PROYECTOS</a>
    </div>
</div>    