<div class="banner-text">
    <p class="banner-text__title">HABILIDADES</p>
</div>

<nav class="subnavbar-container">
    <div class="subnavbar-menu">
        <a href="#Duras" class="subnavbar-menu__link subnavbar-menu__link--duras active-sub">DURAS</a>
        <a href="#Blandas" class="subnavbar-menu__link subnavbar-menu__link--blandas">BLANDAS</a>
        <a href="#Meterias" class="subnavbar-menu__link subnavbar-menu__link--materias">MATERIAS</a>
        <a href="#Impulso" class="subnavbar-menu__link subnavbar-menu__link--impulso">IMPULSO</a>
    </div>
</nav>

<div class="render-content"></div>
